/.vscode
/Section7 - Protocol_HTTP_and_Web_Servers/node_modules
/mongodb/node_modules
/mongodb/.env
/backvsfront/backend/node_modules
/backvsfront/backend/node_modules
/backvsfront/backend/.env
/backvsfront/frontend/AngularFrontend/node_modules
/backvsfront/frontend/AngularFrontend/.gitignore


